* {
    font-family: monospace;
}

body {
    text-align: center;
}

.header {
}

.navbar {
    display: flex;
    justify-content: space-between;
    border: dotted;
}

nav h1 {
    font-size: 72px;
}