* {
    /* box sizing below is not working */
    /* box-sizing: border-box; */
}

body {
    text-align: center;
    font-family: monospace;
}

.header {
    background-image: linear-gradient(black, rgba(18, 243, 18, 0.75));
}

.navbar {
    display: flex;
    justify-content: space-between;
    border: dotted;
    color: white;
}

.navbar #highscore {
    margin-left: 20px;
}

.navbar #countdown {
    margin-right: 20px;
}

nav h1 {
    font-size: 72px;
}

section {
    margin-top: 10px;
    border-style: solid;
    background-color: gray;
}

#quiz {
    display: none;
}

#startButton {
    display: initial;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 200px;
    background-color: red;
    font-size: 24px;
}

#quizScore {
    display: none;
}

/* ---------Styling for high-score.html--------- */
#highScoresPage {
    background-color: lawngreen;
}

#displayHighScore {
    font-size: 72px;
    font-weight: bolder;
}

#table {
    width: 100%;
    font-size: 72px;
    background-color: indigo;
}

#table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    height: 50px;
    color: white;
}
