* {
    /* box sizing below is not working */
    /* box-sizing: border-box; */
}

body {
    text-align: center;
    font-family: monospace;
}

.header {
    background-image: linear-gradient(black, rgba(18, 243, 18, 0.75));
}

.navbar {
    display: flex;
    justify-content: space-between;
    border: dotted;
    color: white;
}

.navbar #highscore {
    margin-left: 20px;
}

nav h1 {
    font-size: 72px;
}